<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        

    </head>
    <body>
        <div class="main-content">
            <h1>Weather</h1>
            <h1>hi {{name}}</h1>
            {{>header}}
            <img src="./img/476112859_2710449489145531_7728080515436563007_n.jpg">
            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>
       {{>footer}}
       <script src="./js/app.js"></script>
    </body>
</html>